.DS_Store
node_modules
.worktrees
.sst
.env
.idea
.vscode
.codex
*~
playground
tmp
dist
ts-dist
.turbo
**/.serena
.serena/
/result
refs
Session.vim
opencode.json
a.out
target
.scripts
.direnv/

# Local dev files
opencode-dev
logs/
*.bun-build
tsconfig.tsbuildinfo
.bun_cache/
OPENCODE_NOTES.md
.trae/

.local/
.xdg/
.tmp/
bun_dist/
bun
opencode
install_opencode.sh
start_dev.sh
Dockerfile
.dockerignore
